*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --bc-button-light: #fff;
    --border-color: #e2e5f1;
    --brands-darkmode-bc: #0b0f19;
    --brands-button-darkmode: #131022;
    --brands-light-bc: #fff;
}

#brands {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.brands {
    background-color: var(--brands-light-bc);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
}

[data-theme="dark"] .brands {
    background-color: var(--brands-darkmode-bc);
}

[data-theme="dark"] .brands-button {
    background-color: var(--brands-button-darkmode);
    border: 0.5px solid var(--border-color);
}

.brands-button {
    flex: 1 1 0;
    max-width: 23em;
    min-width: 13em;
    height: 120px;
    background-color: var(--bc-button-light);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.brands-img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

@media (max-width: 1920px) and (min-width: 768px) {
  .brands-button:nth-child(5),
  .brands-button:nth-child(6) {
    display: none;
  }
}

@media (max-width: 768px) {
    #brands{
        display: none;
    }
}
