*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --features-h3-light: #131022;
    --features-p-light: #585c7b;
    --features-span-bc-light: #f3f6ff;
    --white: #ffffff;

    --features-p-dark: #b6b7ba;
    --features-span-bc-dark: #171b25;
}

#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.features-h1{
    font-size: 28px;
    text-align: center;
}

.features-main-p{
    font-size: 20px;
    width: 90%;
    margin-left: 1rem;
    color: var(--features-p-light);

}

.features-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
}

.features-span {
    grid-column: 1 / 2;

    width: 5rem;
    height: 5rem;
    margin: 0 0 2rem 0.5rem;
    background-color: var(--features-span-bc-light);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    justify-self: start;
    align-self: start;
}


.features-span > img {
    width: 2rem;
    height: 2rem;
}

.column-right {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features-h3{
    width: 100%;
    margin: 0 1rem 0 0;
    font-size: 24px;
    text-align: left;
    color: var(--features-h3-light);
}

.features-p{
    font-size: 18px;
    text-align: left;
    color: var(--features-p-light);
}

@media (min-width: 768px) {
    #features{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr repeat(3, 1fr);
    }
}


@media (min-width: 1920px) {
    
}