*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  border: 0;
   margin: 0;
  padding: 0;
}

:root {
  --text-color-gray700: #565973;
  --dark-mode-toggle-background: #9397ad;
  --dark-mode-toggle-on: #51db56;
  --gray800-color: #3e4265;
  --main-button-background-color: #6366f1;
  --white: #ffffff;
}

#Hero {
  background: linear-gradient(to bottom, #fefeff 0%, #fcf5fe 100%);
  
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  row-gap: 1rem;
  padding: 2rem 0;
  margin-top: 2rem;
  /* margin-left: 1rem;
  margin-right: 1rem; */
}

.hero-column-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-header {
  color: #131022;
  font-size: 42px;
  text-align: center;
  margin: 0;
  display: none;
}

.hero-p {
  font-size: 20px;
  color: var(--text-color-gray700);
  text-align: center;
  width: 80%;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.apple-light{
width: 366px;
  height: 50px;
}

.google-light {
  width: 366px;
  height: 50px;
}

.apple-dark {
  display: none;
  width: 366px;
  height: 50px;
}
.google-dark {
  display: none;
  width: 366px;
  height: 50px;
}

.phone-tablet {
  width: 100%;
  height: auto;
  display: none;
}

.phone-desktop {
  display: none;
}


@media (min-width: 768px) {
#Hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 2fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero-header {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: none;
}

.hero-p {
 display: none;
}

.apple-light{
width: 366px;
  height: 50px;

  display: none;
}

.google-light {
  width: 366px;
  height: 50px;

  display: none;
}

}