*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  margin: 0;
  padding: 0;
}

:root {
  --text-color-gray700: #565973;
  --dark-mode-toggle-background: #9397ad;
  --dark-mode-toggle-on: #51db56;
  --gray800-color: #3e4265;
  --main-button-background-color: #6366f1;
  --white: #ffffff;
}

[data-theme="dark"] {
    --text-color-gray700: #565973;
    --gray800-color: #3E4265;
    --main-button-background-color: #6366f1;
    --white: #fff;
    --bc-dark-lighter:#1b1f29;
    --bc-dark-darker: #0b0f19;
    --hero-p-dark: #585c7b;
}

#Hero {
  width: 100%;
  min-width: 100vw;
  background: linear-gradient(to bottom, #fefeff 0%, #fcf5fe 100%);
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  row-gap: 1rem;
  padding: 2rem 1rem 0 1rem;
  margin-top: 2rem;
}

.hero-column-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-header {
  color: #131022;
  font-size: 42px;
  text-align: center;
  margin: 0;
}

.hero-p {
  font-size: 20px;
  color: var(--text-color-gray700);
  text-align: center;
  width: 80%;
  margin: 0;
}

.download-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  height: auto;
}

.apple-light,
.google-light,
.apple-dark,
.google-dark {
    width: 12rem;
    height: auto;
    cursor: pointer;
}

.apple-dark,
.google-dark {
  display: none;
  /* background-color: var(--bc-dark-lighter); */
}

.phone-tablet {
  width: 100%;
  height: auto;
  display: none;
}

.phone-desktop {
  display: none;
}

@media (min-width: 768px) {
  #Hero {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-header {
    grid-area: 1 / 2 / 2 / 4;
    display: block;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
  }

  .hero-p {
    grid-area: 3 / 1 / 5 / 3;
    font-size: 2rem;
    max-width: 400px;
    color: #555;
    text-align: left;
    justify-self: center;
    margin-bottom: 1rem;
  }

  .download-buttons {
    grid-area: 5 / 1 / 6 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-self: center;
  }

  .phone-desktop {
    grid-area: 2 / 3 / 7 / 5;
    display: block;
    max-width: 100%;
    height: auto;
    justify-self: center;
  }
}

@media (min-width: 1920px) {
  #Hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 4fr) repeat(2, 1fr);
    grid-template-rows: 1fr 3fr repeat(2, 2fr) 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    margin: 2rem auto 0 auto;
  }

  .hero-header {
    grid-area: 2 / 3 / 3 / 4;
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;
  }

  .hero-p {
    grid-area: 3 / 3 / 4 / 4;
    font-size: 2rem;
    max-width: 450px;
    text-align: left;
    color: #555;
    align-self: start;
    justify-self: start;
  }

  .download-buttons {
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: start;
    justify-self: start;
  }

  .phone-desktop {
    grid-area: 2 / 4 / 6 / 5;
    max-width: 100%;
    height: auto;
    justify-self: center;
  }
}

@media (prefers-color-scheme: dark) {
  #Hero {
    background: linear-gradient(to bottom, var(--bc-dark-darker) 0%, var(--bc-dark-lighter) 100%);
  }

  .hero-header {
    color: var(--white);
  }

  .hero-p {
    color: var(--hero-p-dark);
  }

  .apple-light,
  .google-light {
    display: none;
  }

  .apple-dark,
  .google-dark {
    display: block;
  }
}
