*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  border: 0;
}

:root {
  --text-color-gray700: #565973;
  --dark-mode-toggle-background: #9397ad;
  --dark-mode-toggle-on: #51db56;
  --gray800-color: #3e4265;
  --main-button-background-color: #6366f1;
  --white: #ffffff;
}

#Hero {
  background: linear-gradient(to bottom, #fefeff 0%, #fcf5fe 100%);
  
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  row-gap: 1rem;
}

h1 {
  color: #131022;
  font-size: 42px;
  text-align: center;
  margin-top: 2em;
}

p {
  font-size: 20px;
  color: var(--text-color-gray700);
  text-align: center;
  width: 80%;
}

.apple-light {
  width: 366px;
  height: 50px;
}

.google-light {
  width: 366px;
  height: 50px;
  margin-bottom: 6rem;
}

.apple-dark {
  display: none;
  width: 366px;
  height: 50px;
}

.google-dark {
  display: none;
  width: 366px;
  height: 50px;
}

.iphone-tablet {
  display: none;
}

.iphone-desktop {
  display: none;
}

@media (min-width: 768px) {
    #Hero{
        display: grid;
         display: grid;
         place-items: center;
         grid-auto-flow: row;
         row-gap: 1rem;

         grid-template-rows: 1fr 3fr;
         grid-template-columns: 1fr 1fr;
    }
}
