*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  margin: 0;
  padding: 0;
}

:root{
    --bc-light: #f3f6ff;
}

[data-theme="dark"] {
}


@media (max-width: 1919px) {
    #appfeat{
        display: none;
    }
}

@media (prefers-color-scheme: dark){
}